<div class="row">
    <div class="col-12">
<hr>
<h1 class="title animated fadeInLeft">Seasons</h1>
    </div>
</div>
<div class="row">
    <div class="col-4  animated fadeInUpBig">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://3.bp.blogspot.com/-88zsESCTpAg/WTM0k9XPXLI/AAAAAAAAAsk/W6BNhSLBW5YUhdw_PDVly2ftajlQjPopwCLcB/s1600/Rick%2Band%2BMorty%2B2%25C2%25AA%2BTemporada%2B-%2BEpis%25C3%25B3dias%2B9.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title title">SEASON ONE</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let episode of  this.temp_1">{{episode}}</li>
        
            </ul>
        </div>
    </div>
    <div class="col-4 animated fadeInDownBig">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://http2.mlstatic.com/serie-rick-and-morty-2-temporada-digital-D_NQ_NP_986297-MLB40405250623_012020-F.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title title">SEASON TWO</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let episode of this.temp_2">{{episode}}</li>
        
            </ul>
        </div>
    </div>
    <div class="col-4 animated fadeInUpBig">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://2.bp.blogspot.com/-LGt_3hUxOX4/WdvaZ_uXdMI/AAAAAAAAD6w/m7e06Uf-w_s9_DA6HrZvimQMyaITQD1iQCLcBGAs/s1600/MV5BMGE2ODY0M2ItYWRhZC00ZjEzLTkyNWUtYWQ1MDUzZGE3NTQ5XkEyXkFqcGdeQXVyNjk2NTI2MDI%2540._V1_SX1777_CR001777964_AL_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title title">SEASON THREE</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let episode of this.temp_3">{{episode}}</li>
        
            </ul>
        </div>
    </div>
</div>
